
<% [1,2,3].each do |day| %>
<div class="container">
    <div class="score item">
        3 *
    </div>
    <div class="day item">
        10/7
    </div>
    <div class="title item">
        An awesome day
    </div>
    <div class="diary item">
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
    </div>
    <div class="expenses item">
        32€
    </div>
    <div class="meals item">
        <div>
            Something for breakfast
        </div>
        <div>
            Something for lunch
        </div>
        <div>
            Something for dinner
        </div>
    </div>
    <div class="weight item">
        95 kg
    </div>
</div>
<% end %>