$primary-background: #535657;
$secondary-background: #4f646f;
$highlight-background: #8daa91;
$other-background: #4f646f;
$something-else: #59405c;

$text-primary: #f2f3d9;
$text-secondary: rgba(255, 255, 255, 0.7);
$text-disabled:  rgba(255, 255, 255, 0.5);
$action-active: #fff;
$action-hover: rgba(255, 255, 255, 0.08);
$action-selected: rgba(255, 255, 255, 0.16);
$action-disabled: rgba(255, 255, 255, 0.3);
$action-disabled-background: rgba(255, 255, 255, 0.12);

$divider: rgba(255, 255, 255, 0.12);

$primary: #658dae;
$secondary: #d32f2f;
$warning: #f57c00;
$info: #1976d2;
$success: #388e3c;
