$primary-background: #121212;
$secondary-background: #424242;
$highlight-background: #322f3d;
$other-background: #272c34;
$something-else: #59405c;

$text-primary: #fff;
$text-secondary: rgba(255, 255, 255, 0.7);
$text-disabled:  rgba(255, 255, 255, 0.5);
$action-active: #fff;
$action-hover: rgba(255, 255, 255, 0.08);
$action-selected: rgba(255, 255, 255, 0.16);
$action-disabled: rgba(255, 255, 255, 0.3);
$action-disabled-background: rgba(255, 255, 255, 0.12);

$divider: rgba(255, 255, 255, 0.12);

$primary: #658dae;
$secondary: #d32f2f;
$warning: #f57c00;
$info: #1976d2;
$success: #388e3c;
